section {
	margin: 20px;
	display: flex;
	justify-content: center;
}

form {
	background-color: rgba(0, 137, 123, 0.6);
	padding: 20px;
	border-radius: 10px;
}

form div {
	margin: 10px;
	font-size: large;
}