body {
	margin: 0;
	background-color: rgb(28, 28, 28);
	font-family: sans-serif;
	color: White;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto 90% auto;
}

nav {
	display: flex;
	margin-top: 10px;
}

nav a {
	margin: auto;
	padding: 8px;
	border-radius: 17px;
	text-decoration: none;
	font-size: 5.9vw;
	color: White;
	background-color: rgba(255, 255, 255, 0.1);
}

.flash {
	font-size: large;
	background-color: rgba(255, 0, 55, 0.664);
	margin: auto;
	margin-top: 20px;
	max-width: 90vw;
	padding: 10px;
	border-radius: 10px;
}

.flash b {
	word-wrap: break-word;
}

.flash button {
	color: black;
	background-color: transparent;
	border: 0;
}

main {
	padding: 20px;

}

footer {
	padding: 20px;
	padding-bottom: 40px;
}


@media only screen and (min-width: 768px){

	nav a {
		font-size: 2vw;
	}
}