<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE }}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% block meta %}
	{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style/main.css') }}">
	{% if CURRENT_LANGUAGE in RTL_LANGUAGES %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style/rtl.css') }}">
	{% endif %}
	{% block static %}
	{% endblock %}
</head>

<body>
	<nav>
		<a href="{{ url_for('home') }}">
			<div title="{{ gettext('Participate with your grades to provide more accurate statistic.') }}">
				{{ gettext('Participate') }}
			</div>
		</a>
		<a href="{{ url_for('edit') }}">
			<div>{{ gettext('Edit') }}</div>
		</a>
		<a href="{{ url_for('statistics') }}">
			<div>{{ gettext('Statistics') }}</div>
		</a>
		<a href="{{ url_for('about') }}">
			<div>{{ gettext('About') }}</div>
		</a>
	</nav>

	<div>
	{% for category, message in get_flashed_messages(with_categories=true) %}
		<div class="flash f_{{ category }}">
			<b>{{message}}</b><button onclick="closeFlash(this);">{{ gettext('[Close]') }}</button>
		</div>
	{% endfor %}
	</div>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		<a href="{{ url_for('set_locale') }}">{{ gettext('Change Locale') }}</a>
	</footer>
</body>
	<script src="{{ url_for('static', filename = 'script/main.js') }}"></script>
	{% block foot %}
	{% endblock %}
</html>